.Hero-bg {
  background-image: url("../../../assets/png//Hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-bg {
  background-image: url("../../../assets//png//Card-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 280px) and (max-width: 900px) {
  .border {
    border-right: none;
  }
}

@media only screen and (min-width: 901px) {
  .border {
    border-right: solid 2px #b0c0c5;
  }
}

@media only screen and (min-width: 280px) and (max-width: 576px) {
  .circular-text-style {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .circular-text-style {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1080px) {
  .circular-text-style {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1920px) {
  .circular-text-style {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1921px) and (max-width: 2700px) {
  .circular-text-style {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
}
